<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="mdi/fonts" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="mdi/fonts" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="http to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>